.menu(du-scrollspy='top')
  nav.navbar.navbar-default
    .container-fluid.container
      .navbar-header
        button.mob-menu.navbar-toggle.collapsed(type='button', ng-click='navCollapsed=!navCollapsed')
          i.fa.fa-navicon
        .navbar-brand
          .logo
        .navbar-brand.pull-left.hidden-sm.hidden-md.hidden-lg
      .collapse.navbar-collapse(ng-class='{"in":navCollapsed}')
        ul.nav.navbar-nav
          li
            a(du-smooth-scroll, duration='800', href='#example') Example