md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open='$mdMedia("gt-md")', md-whiteframe='{{sideNav.whiteframe}}')
  md-toolbar
    h1.md-toolbar-tools Side Left
  md-content(layout-padding)
    p(hide, show-gt-md) Contenido Sidebar